# Export all names from PBStools
# exportPattern(".")

exportPattern("^[^\\.]")
exportPattern("^\\.PBS")

# Packages declared in the 'Depends' field should not also be in the 'Imports' field (I guess in DESCRIPTION file only) (from R-exts.pdf).
import(
akima, dplyr, ggplot2, sdmTMB, sp
)

# writeLines(imports_for_undefined_globals(txt))

importFrom("AgeingError", "plot_output", "run", "RunFn", "write_files")
importFrom("boot", "boot")
importFrom("fmesher", "fm_rcdt_2d_inla", "fm_nonconvex_hull", "fm_fem", "fm_basis")
importFrom("gfdata", "get_ssids", "get_survey_index", "get_survey_sets")
#importFrom("gfplot", "ll2utm", "interp_survey_bathymetry", "synoptic_grid")  ## not exported from gfplot
importFrom("ggsidekick", "theme_sleek")
importFrom("graphics", "abline", "arrows", "axis", "box", "image", "legend", "lines", "points", "polygon")
importFrom("grDevices", "colorRampPalette", "dev.off")
importFrom("here", "here")
importFrom("PBSmapping", "addPolys", "convUL", "plotMap")
importFrom("PBSmodelling", "addLabel", "addLegend", "expandGraph", "lucent", "show0", "unpackList")
importFrom("PBStools", ".flush.cat", "addStrip", "changeLangOpts", "clearFiles", "createFdir", "createTdir", "crossTab", "eop", "getVer", "lenv", "linguaFranca", "toUpper", "zapSeamounts")
importFrom("stats", "AIC", "binomial", "coef", "lm", "nls", "predict", "qnorm", "qqnorm", "residuals", "rnorm", "sd")
importFrom("utils", "data", "write.csv")

