# Export all names from PBStools
# exportPattern(".")

exportPattern("^[^\\.]")
exportPattern("^\\.PBS")

# Packages declared in the 'Depends' field should not also be in the 'Imports' field (I guess in DESCRIPTION file only) (from R-exts.pdf).
import(
akima, dplyr, ggplot2, sdmTMB, sp
)

# writeLines(imports_for_undefined_globals(txt))
importFrom("grDevices", "dev.off")
importFrom("graphics", "abline", "arrows", "axis", "legend", "lines", "points", "polygon")
importFrom("stats", "AIC", "predict", "qqnorm", "residuals", "sd")
importFrom("utils", "data")
importFrom("PBStools", "changeLangOpts", "clearFiles", "createFdir", "eop")
importFrom("PBSmodelling", "addLabel", "expandGraph", "lucent")
importFrom("gfdata", "get_ssids", "get_survey_index", "get_survey_sets")
#importFrom("gfplot", "ll2utm", "interp_survey_bathymetry", "synoptic_grid")  ## not exported from gfplot
importFrom("ggsidekick", "theme_sleek")
importFrom("fmesher", "fm_rcdt_2d_inla", "fm_nonconvex_hull", "fm_fem", "fm_basis")
